version: "3.9"

services:
  bot:
    build: .
    container_name: ocr_tg_bot
    restart: unless-stopped
    env_file:
      - ./bot/.env
    volumes:
      # Общий именованный том для логов и моделей ML
      - ml_output:/app/ml_output
    # При необходимости укажи URL бэкенда в .env (AI_API_BASE и т.п.)

volumes:
  ml_output:
    external: true
    name: ml_output
